html,


body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: -1px auto auto auto;
  border-radius: 10px;
  background-color: transparent;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
}